*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
html,body{
	width:100%;
	height:100%;
}
body{
	text-align: center;
	padding:15px;
        font-family: 'Montserrat', sans-serif;
}

.intro{

	height:100vh;
	width:100%;
  	background-image: linear-gradient(to right bottom,rgba(126,213,111,0.6),rgba(40,180,131,0.6)),url("../images/sea.jpg");
  	background-size: cover;
  	background-position: center;
  	clip-path:polygon(0 0,100% 0,100% 80%,0 100%);

	
}

.navbar{
	overflow:scroll;
	margin: auto auto auto 50%;
	transform: translate(-50%,8%);
	width: 90%;
	height:9vh;
	border-radius: 50px;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	border: solid 2px;
	z-index:1;
}
.navlink{

	color: white;
	padding:10px 10px;
	display: inline-block;
	text-decoration: none;


}
.navlink:hover{
	background-color:rgba(0,0,0,0.6);
	box-shadow: 2px 2px 20px;
	transition:0.7s;	
	transform: translate(2px,2px);

}
.text{
	position: absolute;
	width:100%;
	top: 50%;
	color: white;
	transform: translate(0%,-50%);
	background-color:rgba(0,0,0,0.5);
}
.t1{
	display: block;
	position: relative;
	font-size:400%;
	letter-spacing: 30px;
	font-weight:700;
	border: solid 2px;
	opacity:0.8;
	
}
.t2{
	font-size:150%;
	letter-spacing: 12px;
	font-weight:200;	
}
.b1{
	margin: auto;
	display: inline-block;
	text-decoration: none;
	color: #000839;
	position: absolute;
	border-radius: 50px;
	left: 39%;
	top:65%;
	font-size: 22px;
	display: inline-block;
	padding: 10px 30px;
	border: solid 1px;
	letter-spacing: 5px;
	background-image: linear-gradient(rgba(105,132,116,0.7),rgb(119,216,216,0.7));
	font-weight: 700;
	box-shadow: 1px 3px 2px 2px black;
}
.b1:hover{
	transform: translate(0px,-10px);
	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.7);
	transition: 1s;
}

.soon{
	box-shadow:1px 1px 5px 5px rgba(0,0,0,0.6);
	border-radius:10px;
	position: relative;
	padding: 10px;
	height: 90vh;
	margin: 40px auto auto auto;
	background-image: linear-gradient(to bottom right,rgba(117,218,173,0.8),rgb(168,230,207,0.8));
}
.soon1{
	color: white;
	font-size: 34px;
	background: rgba(127,120,210,0.5);
	padding: 10px;
	font-weight: 800;
	box-shadow: 2px 2px 5px 2px blue;;
	
}
.t3{
	background: rgba(127,120,210,0.7);
	display: inline-block;
	position: absolute;
	width: 25%;
	height: 70%;
	transform: translate(-20%,15%);
	border-radius: 50px;
	box-shadow: 2px 2px 10px 15px rgba(0,0,0,0.7);
}
.logo{
	float:left;
	width:10%;
	height:50px;
	padding: 5px;
}
.im1,.im2,.im3{
	height: 160px;
	width:150px;
	border: solid 1px;
	border-radius: 30px;
	position: absolute;
	left: 15%;
	background-color:red;
}
.im1{
	top:18%;
	opacity:0.9;
}
.im2{
	top:42%;
	opacity:0.7;
}
.im3{
	top:63%;
	opacity:0.6
}
.im:hover{
	transform: translate(50%,0px);
	transform: scale(1.6,1.8);
	opacity:1;
	transition: all 1s;
	z-index:1;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.7);
}
.surprise{
	box-shadow:1px 1px 5px 5px rgba(0,0,0,0.6);
	border-radius:10px;
	padding:10px;
	margin: 20px auto auto auto;
	height:100vh;
	background-image: url("../images/bonfire.jpg");
	background-size: cover;
	background-position: center;
}
.container1{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
	width:100%;
	overflow: scroll;

}
.s{
	height:50%;
	width:28%;
	padding: 10px;
	margin: auto;
	position: relative;
	background:rgba(239,243,198,0.5);
	border-radius: 20px;
	animation: glow 2s infinite;
	border:2px solid white;
}
.ss{
	padding:10px;
	font-weight:900;
	color: #f0a500;
	font-size: 32px;
}

.sim{
	width:95%;
	height:70%;
	padding:5px 40px;
}
.blue{
	transform: translate(-10px,28.8px);
	position: absolute;
	bottom:10%;
	background:blue;
	opacity:0.4;
	height:1%;
	width:100%;
}
.blue:hover{
	height:100%;
	transition: all 1s;	
}

.most{
	box-shadow:1px 1px 5px 5px rgba(0,0,0,0.6);
	border-radius:10px;
	padding:10px;
	margin: 20px auto 40px auto;

	background-image: linear-gradient(to bottom right,#363636,#00a8cc);
	background-size: cover;
	background-position: center;
	overflow: scroll;
}

.conatiner2{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background: red;
	justify-content: center;
	align-content: space-between; 

}
.mb{
	display: inline-block;
	box-shadow: 2px 2px 5px 5px rgb(0,0,0,0.5);
	text-align: center;
	align-content: space-between;
	width:250px;
	height:230px;
	border-radius:10px;
	background: rgba(255,255,255,0.9);
	margin:10px;
	animation: glow 2s infinite;
}
.mbim{
	border-radius:100%;
	width:140px;
	height:140px;
}
.happy{
	background-image: linear-gradient(to right bottom,rgba(126,213,111,0.4),rgba(40,180,131,0.4)),url("../images/flowers.jpg");
	background-size: cover;
	text-align: center;
	border-radius:20px;
	overflow: scroll;
}
.container3{
	height: 65vh;
	position: relative;
}
.review{
	margin: 45px auto 0px auto;
	width:60%;
	display:inine-block;
	background:rgba(0,0,0,0.5);
	font-weight:700;
	color: white;
	border-radius: 15px;
	box-shadow:2px 2px 5px 5px rgba(0,0,0,0.7);
	border: solid 2px rgba(255,255,255,.7);
}
.p1{
	height:70px;
	width:70px;
	border-radius:100%;
	float: left;
}
.give{
	background-image: linear-gradient(to right bottom,rgba(126,213,111,0.4),rgba(40,180,131,0.4)),url("../images/sea.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	border-radius:20px;
	overflow: scroll;
	height:80vh;
	padding:10px;
	margin: 10px;
	
}
.form{
	margin:50px auto auto auto;
	background:rgba(0,0,0,0.5);
}

.footer{
	height:30vh;
	background:rgba(0,0,0,0.6);
	padding:10px;
	margin:10px;
	box-shadow:2px 2px 5px 5px rgba(0,0,0,0.8);
	border-radius:8px;
	position: relative;	
}
.xx{
	position:relative;
	width:40%;
	height:80%;
	padding:10px;
	margin:10px;
	float:left;
}
.x{

	display:block;
	color: white;
	text-decoration:none;
}
.xxx{
	width:50px;
	height:50px;
}
.button{
	width: 8%;
	display:inline-block;
	background:rgba(0,0,0,0.7);
	padding:10px;
	border-radius:100%;
	box-shadow:2px 2px 3px 4px rgba(0,0,0,0.7);
	position: fixed;
	right:20px;
	bottom:20px;
	color: white;
	z-index:1;
	animation: glow 2.8s infinite;
}
@keyframes ani{
	0%{background: red;transform:translate(-30%,0px);opacity:0.1;}
	50%{background: blue;opacity:0.5;}
	100%{background: yellow;transform:translate(0%,0px);opacity:1;}
	

}
.covid{
	animation-name: ani;
	animation-duration:2s;
	animation-iteration-count: infinite;
}
@keyframes aniket{
	0%{transform:scalex(1.5);}
	100%{transform:scalex(1);}
}
.b1{
	animation-name: ani;
	animation-duration:2s;
	animation-iteration-count: 1;
}
@keyframes glow{
	0%{box-shadow:2px 2px 2px 2px rgba(255,255,255,0.5);}
	50%{box-shadow:2px 2px 4px 4px rgba(255,255,255,0.8);}
	75%{box-shadow:3px 3px 4px 4px rgba(255,255,255,1);}
	100%{box-shadow:2px 2px 2px 2px rgba(255,255,255,0.5);}
}
.t1:hover{
	letter-spacing:40px;
	transition:2s;
}
.button:hover{
	transform:scale(1.4);
	transition:1s;
}
.soon1:hover,.t2:hover{
	letter-spacing:15px;
	transition:2s;
}
.text{
	animation: aniket 2s 1;
}
.s:hover{
	transform:translate(5px,5px) scale(1.1,1.1);
	transition:0.8s;
}
.mb:hover{
	transform:translate(5px,5px) scale(1.1,1.1);
	transition:0.8s;
}
.review:hover{
	transform:translate(5px,5px) scale(1.1,1.1);
	transition:0.8s;
	background:rgba(0,0,0,0.9);
}
.kk:hover{
	letter-spacing:12px;
	transition:2s;
}

